/* Full-width .prof-input fields */
.prof-input[type=text], .prof-input[type=password] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #ced4da;
    background: transparent;
    margin-bottom: 0;
  }
  
  .prof-input[type=text]:focus, .prof-input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .hrrr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  

  .button_pass_change{
    background-color: rgb(123, 107, 218);
    color:white;
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    outline: 0;
  }

  .button_pass_change:hover {
    background-color: rgb(108, 99, 161);
  } 
  
  /* Extra styles for the cancel button */
  .btn-update{
    color:white;
    float: left;
    width: 50%;
    padding: 12px 16px;
    background-color: #0d7a14;
    border: transparent;
    border-radius: 5px;
    outline: 0;
    font-weight: 500;
  }
  .btn-update:hover{
    opacity: 0.5;
    color: black;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .btn-cancel{
    color:white;
    float: left;
    width: 50%;
    padding: 12px 16px;
    background-color: #9e1f16;
    border: transparent;
    border-radius: 5px;
    outline: 0;
    font-weight: 500;
  }
  .btn-cancel:hover{
    opacity: 0.5;
    color: black;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
   .row {
    background-color: ecb58d;
  } 
