/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 8px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid #ced4da;
  background: transparent;
  margin-bottom: 0;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

 .row {
  background-color: ecb58d;
} 

/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Sidebar
4. Header
5. Menu
6. Home
7. Boxes
8. Categories
9. Products
10. Newsletter
11. Footer


******************************/

/***********
1. Fonts
***********/
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Poppins:300,400,500,600,700,800,900'); */

/*********************************
2. Body and some general stuff
*********************************/

/* *
{
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #FFFFFF;
  color: #a5a5a5;
}
div
{
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
  list-style: none;
  margin-bottom: 0px;
}
p
{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.75;
  font-weight: 400;
  color: #8f8f8f;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
  display: inline;
  position: relative;
  color: inherit;
  border-bottom: solid 1px #ffa07f;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
p:last-of-type
{
  margin-bottom: 0;
}
a, a:hover, a:visited, a:active, a:link
{
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
  position: relative;
  color: #FF6347;
}
p a:hover
{
  color: #FFFFFF;
  background: #ffa07f;
}
p a:hover::after
{
  opacity: 0.2;
}
::selection
{
  background: rgba(187,228,50,0.75);
  color: #FFFFFF;
}
p::selection
{
  
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
  
}
.form-control
{
  color: #28ad00;
}
section
{
  display: block;
  position: relative;
  box-sizing: border-box;
}
.clear
{
  clear: both;
}
.clearfix::before, .clearfix::after
{
  content: "";
  display: table;
}
.clearfix::after
{
  clear: both;
}
.clearfix
{
  zoom: 1;
}
.float_left
{
  float: left;
}
.float_right
{
  float: right;
}
.trans_200
{
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.trans_300
{
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.trans_400
{
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.trans_500
{
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.fill_height
{
  height: 100%;
}
.super_container
{
  width: 100%;
  overflow: hidden;
  padding-left: 263px;
}
.prlx_parent
{
  overflow: hidden;
}
.prlx
{
  height: 130% ;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.background_image
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.nopadding
{
  padding: 0px ;
}
.section_container
{
  padding-left: 109px;
  padding-right: 107px;
}
.section_container .container
{
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.button_1
{
  width: 138px;
  height: 45px;
  background: #414141;
  text-align: center;
}
.button_1 a
{
  display: block;
  line-height: 45px;
  color: #f8f9fa;
  font-size: 14px;
  font-weight: 600;
}
.button_1:hover
{
  background: #ecb58d;
}
.button_1:hover a
{
  color: #414141;
} */

