<footer class="footer">
    <div class="footer_content">
        <div class="section_container">
            <div class="container">
                <div class="row"> 
                    <!-- About -->
                    <div class="col-xl-6 col-md-6 footer_col">
                        <div class="footer_about">
                            <!-- Logo -->
                            <div class="footer_logo">
                                <a style="text-decoration:none" href="#"><div>Deal<span> In</span></div></a>
                            </div>
                            <div class="footer_about_text">
                                <p>Since launching, Deal-In has been recognized as the go-to online auction marketplace for new, overstock, closeout and recertified products in 5 categories, including Cars, Collectibles, Furniture, Electronics and other.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Contact -->
                    <div class="col-xl-6 col-md-6 footer_col">
                        <div class="footer_contact">
                            <div class="footer_title">contact</div>
                            <div class="footer_contact_list">
                                <ul>
                                    <li class="d-flex flex-row align-items-start justify-content-start"><span>C:</span><div>Τμήμα Πληροφορικής και Τηλεπικοινωνιών ΕΚΠΑ										</div></li>
                                    <li class="d-flex flex-row align-items-start justify-content-start"><span>A:</span><div>ΠΑΝΕΠΙΣΤΗΜΙΟΥΠΟΛΗ, ΙΛΙΣΙΑ ΑΘΗΝΑ, 157 84</div></li>
                                    <li class="d-flex flex-row align-items-start justify-content-start"><span>T:</span><div>+30 210 727 5191</div></li>
                                    <li class="d-flex flex-row align-items-start justify-content-start"><span>E:</span><div>secret@di.uoa.gr</div></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>