<div class="super_container">
        <app-side-bar></app-side-bar>
        <div class="container-fluid">
            <div class="grid-bids">
                <h1>MY PPODUCTS</h1>
                <div class="bid-item">
                    <button class="addP" [routerLink]="['/new-product']" >Auction A Product</button>
                </div>
            </div>
                
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                    <!-- product name Column -->
                    <ng-container matColumnDef="product_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
                    <td mat-cell *matCellDef="let product">
                        <a style="text-decoration:none" routerLink="/product/{{product.product_slug}}" > 
                            {{product.product_name}}
                        </a>
                    </td>
                    </ng-container>
                
                    <!-- product value -->
                    <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef >Highest Bid</th>
                        <td mat-cell *matCellDef="let product">
                            ${{live_value(product.product_id)}}
                        </td>
                    </ng-container>

                     <!-- product status -->
                     <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Current Status</th>
                        <td mat-cell *matCellDef="let product">
                            <div [ngSwitch]="live_status(product.product_id)" class="status">
                                <div class="b" *ngSwitchCase="0">Starts soon</div>
                                <div class="g" *ngSwitchCase="1">Ongoing</div>
                                <div class="r" *ngSwitchCase="2">Ended</div>
                            </div>
                        </td>
                    </ng-container>

                    <!--start time Column -->
                    <ng-container matColumnDef="stime">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Time Started</th>
                        <td mat-cell *matCellDef="let product"> {{product.auction_starts}} </td>
                    </ng-container>

                     <!--end time Column -->
                     <ng-container matColumnDef="etime">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ending time</th>
                        <td mat-cell *matCellDef="let product"> {{product.auction_ends}} </td>
                    </ng-container>

                    <!-- actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td mat-cell *matCellDef="let product"> 
                            <button *ngIf="live_status(product.product_id) === '0'" (click)="editProd(product.product_id)" class="edit">Edit</button>
                            <button *ngIf="live_status(product.product_id) === '0'" (click)="delProd(product.product_id)" class="del">Delete</button>
                            <button *ngIf="live_status(product.product_id) === '0'" (click)="StartAuction(product.product_id)" class="start">Start</button>
                            <button *ngIf="live_status(product.product_id) != '0'" (click)="seeBids(product.product_id,product.product_name)" class="see">See Bids</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
       
        </div>
    <app-footer></app-footer>   
</div>