<div class="super_container">

    <app-side-bar></app-side-bar>
    <div class="container-fluid">
        <div class="acc-grid-container" >
            <a routerLink="/profile" class="a" style="text-decoration:none">My Profile</a>
            <a routerLink="/my-products" class="a" style="text-decoration:none">My Products Auctioned</a>
            <a routerLink="/my-bids"class="a" style="text-decoration:none">Auctions bided</a>  
            <a routerLink="/messages" class="a" style="text-decoration:none">Messages</a>
        </div>

    </div>
    <app-footer></app-footer>

</div>
