.grid_price_status{
	display: grid;
	grid-template-columns: 35% 65%;
	grid-gap: 1%;
	/* background-color: #2196F3; */
	padding: 1%;
	margin-right: 2%;
}
.product_price
{
	font-size: 24px;
	font-weight: 700;
	color: #414141;
	margin-top: 13px;
	margin-bottom: 12px;
}
.product_status{
	text-align: right;
	font-size: 13px;
	font-weight: 700;
	color: #414141;
	margin-top: 13px;
	margin-bottom: 12px;
}
.status{
	font-size: 18px;
	color: cornflowerblue;
}
.status .b{
	color: cornflowerblue;
}
.status .g{
	color: forestgreen;
}
.status .r{
	color: crimson;
}